.component {
    width: 250px;
	height: 250px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
    
    text-align: center;
    display:table;
}

.content {
    margin-bottom: 25%;
    margin-top: 25%;
}

.passport img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

a {
    text-decoration: none;
}