.component {
    width: 300px;
	height: 250px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
    
    text-align: center;
    display:table;
}

.content {
    margin-bottom: 25%;
    margin-top: 25%;
}

.passport img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.link {
    height: 30px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    text-align: center
}

.link-txt, .link-divider, .link-icon{
    float: left;
}

.link-divider {
    margin-left: 5px;
    margin-left: 5px;
}

.link-icon{
    margin-right: 2px;
}

.about-icon{
    margin-top:-5px;
}

.blog-icon {
    margin-right: 2px;
}

.projects-icon {
    margin-right: 2px;
}

.link-divider {
    font-size: 25px;
}