.component {
    width: 100vw;
    height: 1vh;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
      
    margin: auto;
    
    text-align: center;
    display:table;
}

.content {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.passport img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.link {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    text-align: center
}

.link-txt{
    float: left;
}

.link-divider {
    float: left;
    font-weight: bold;
}

.link-icon{
    float: left;
}

@media only screen and (max-width: 420px) {
    
    .passport img {
        width: 26%;
    }
    
    .title {
        font-size: 4vw;
    }
    
    .links{
        margin-left: 8%;
        width: 88%;
    }
    
    .link-txt{
        font-size: 5vw;
    }
    
    .link-divider {
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -1vw;
        font-size: 6vw;
    }
    
    .link-icon{
        margin-right: 1vw;
    }
    
    [class*="-icon-img"] {
        width: 5vw;
    }
    
    .about-icon-img{
        width: 6vw;
        margin-top: 1vw;
    }
    
    .blog-icon-img {
        margin-top: 1.5vw;
    }
    
    .projects-icon-img {
        margin-top: 1.7vw;
    }
    
}

@media only screen and (min-width: 420px) and (max-width: 960px) {
    .passport img {
        width: 12%;
    }
    
    .title {
        font-size: 2vw;
    }
    
    .links{
        margin-left: 8%;
        width: 87%;
    }
    
    .link-txt{
        font-size: 3vw;
    }
    
    .link-divider {
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: -0.5vw;
        font-size: 3.5vw;
    }
    
    .link-icon{
        margin-right: 1vw;
    }
    
    [class*="-icon-img"] {
        width: 3.5vw;
    }
    
    .about-icon-img{
        width: 4vw;
        margin-top: 0.5vw;
    }
    
    .blog-icon-img {
        margin-top: 0.5vw;
    }
    
    .projects-icon-img {
        margin-top: 0.7vw;
    }
}

@media only screen and (min-width: 961px) {
    .passport img {
        width: 7%;
    }
    
    .title {
        font-size: 1.3vw;
    }
    
    .links{
        margin-left: 8%;
        width: 86%;
    }
    
    .link-txt{
        font-size: 2vw;
    }
    
    .link-divider {
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 0vw;
        font-size: 2.0vw;
    }
    
    .link-icon{
        margin-right: 0.5vw;
    }
    
    [class*="-icon-img"] {
        width: 2.0vw;
    }
    
    .about-icon-img{
        width: 2.3vw;
        margin-top: 0.5vw;
    }
    
    .blog-icon-img {
        margin-top: 0.6vw;
    }
    
    .projects-icon-img {
        margin-top: 0.7vw;
    }
}